.place__title {
    font-size: 72px;
    line-height: 106%;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 95%;
        font-size: 42px;
        line-height: 110%;
        
    }
    
}

@media screen and (max-width: 400px) {
    .place__title {
        max-width: 90%;
        font-size: 32px;
        line-height: 109%;
        margin-left: 5%;
    }
    
}
