.photo-grid {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    margin: auto;
    gap: 16px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        gap: 14px;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
    
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 90%;
        margin-bottom: 88px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    
}

@media screen and (max-width: 400px) {
    .photo-grid {
        max-width: 90%;
        margin-bottom: 64px;
        gap: 12px;
    }
    
}