.places {
    margin: auto;
    max-width: 77%;
    
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 90%;
        
    }
    
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 95%;
        
    }
    
}

@media screen and (max-width: 400px) {
    .places {
        max-width: 100%;
        
    }
    
}