.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92.5%;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 56px;
    

}

@media screen and (max-width: 1024px) {
    .header {
    margin-bottom: 48px;
    }       
}
