.lead__image {
    padding: 0;
    margin: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    margin-bottom: 8px;
    
}

@media screen and (max-width: 320px) {
    .lead__image {
        min-width: 320px;
        
    }
}
