.intro {
    margin: auto;
    max-width: 77%;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 92.158%;
        
    }       
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 95%;
        margin-bottom: 88px;
    }       
}

@media screen and (max-width: 400px) {
    .intro {
        max-width: 95%;
        margin-bottom: 64px;
    }       
}