.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    margin: auto;
    max-width: 90%;
    min-width: 320px;
    min-height: 740px;
    position: relative;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
    
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 100%;
        min-height: 480px;
        margin-bottom: 88px;
    }
    
}

@media screen and (max-width: 400px) {
    .cover {
        max-width: 100%;
        min-height: 200px;
        margin-bottom: 64px;
    }
    
}