.cover {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 90%;
    
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
    }
    
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 100%;
        min-height: 480px;
        margin-bottom: 88px;
    }
    
}

@media screen and (max-width: 400px) {
    .cover {
        max-width: 100%;
        min-height: 200px;
        margin-bottom: 64px;
    }
    
}