.website__link {
   font-size: 18px;
   line-height: 122%;
   text-decoration-line: underline;
   color: #FFF;
   width: fit-content;
}

.website__link:hover {
   opacity: 0.8;
   transition: 1.2s;
   
}