.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    gap: 48px 40px;
    margin: 0;
    margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .place {
        
        gap: 48px 32px;
    }

}

@media screen and (max-width: 768px) {
    .place {
        
        gap: 48px 28px;
        margin-bottom: 72px;
    }

    .place:last-of-type {
        margin-bottom: 90px;
    }
    
}


@media screen and (max-width: 550px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }

}

@media screen and (max-width: 320px) {
    .place {
        
        margin-bottom: 50px;
        gap: 32px;
    }
    
    .place:last-of-type {
        margin-bottom: 66px;
    }
}